.search   {
    border-bottom:1px solid rgb(222, 217, 217)
}
.search input{
    border: none; 
    width: 150px !important;
}
.search:focus-within{
    border-bottom:2px solid rgb(242, 60, 60) ;
}
.search:focus-within button span{
    color:  rgb(242, 60, 60) !important;
}
.form-control:focus {
    box-shadow: none !important;
}

.navbar{
    font-size: 18px;
    margin-top: -10px;
    box-shadow: -1px -2px 8px black;
}
.title{
    text-align: center;
    background-color: rgb(92, 179, 255);
    margin-left: 0px;
    margin-right: 0px;
}
