.search   {
    border-bottom:1px solid rgb(222, 217, 217)
}
.search input{
    border: none; 
    width: 150px !important;
}
.search:focus-within{
    border-bottom:2px solid rgb(242, 60, 60) ;
}
.search:focus-within button span{
    color:  rgb(242, 60, 60) !important;
}
.form-control:focus {
    box-shadow: none !important;
}

nav{
    font-size: 15px;
    margin-top: -10px;
    box-shadow: -1px -2px 8px black;
}

#login,#register{
    position: absolute;
    background-color: rgb(203, 203, 203);
    z-index: 10;
}

