<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.mooc.entity.Course">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cdesc" jdbcType="VARCHAR" property="cdesc" />
    <result column="cplayvolume" jdbcType="INTEGER" property="cplayvolume" />
    <result column="cauthor" jdbcType="VARCHAR" property="cauthor" />
    <result column="cuploadTime" jdbcType="TIMESTAMP" property="cuploadtime" />
    <result column="ctid" jdbcType="INTEGER" property="ctid" />
  </resultMap>
  

 <select id="selectLikeCname"  parameterType="string"  resultType="com.mooc.entity.Course">
 		select * from course where cname like concat(concat("%",#{cname}),"%")
 </select>
 <select id="selectAll"  resultType="com.mooc.entity.Course">
 		select * from course order by 'cuploedTime' DESC
 </select>
   <select id="selectByCplayvolume"  resultType="com.mooc.entity.Course">
 		select * from course order by cplayvolume DESC
 </select>
<select id="selectAllType"  resultType="com.mooc.entity.Coursetype">
	select * from coursetype
</select>

<select id="selectCourseByCtid"  parameterType="int"  resultType="com.mooc.entity.Course">
 		select * from course where ctid = #{ctid}
 </select>

</mapper>