<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.mooc.entity.Course">
    <id column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="cdesc" jdbcType="VARCHAR" property="cdesc" />
    <result column="cplayvolume" jdbcType="INTEGER" property="cplayvolume" />
    <result column="cauthor" jdbcType="VARCHAR" property="cauthor" />
    <result column="cuploadTime" jdbcType="TIMESTAMP" property="cuploadtime" />
    <result column="ctid" jdbcType="INTEGER" property="ctid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cid, cname, cdesc, cplayvolume, cauthor, cuploadTime, ctid
  </sql>
  <select id="selectByExample" parameterType="com.mooc.entity.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mooc.entity.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mooc.entity.Course">
    insert into course (cid, cname, cdesc, 
      cplayvolume, cauthor, cuploadTime, 
      ctid)
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{cdesc,jdbcType=VARCHAR}, 
      #{cplayvolume,jdbcType=INTEGER}, #{cauthor,jdbcType=VARCHAR}, #{cuploadtime,jdbcType=TIMESTAMP}, 
      #{ctid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mooc.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="cname != null">
        cname,
      </if>
      <if test="cdesc != null">
        cdesc,
      </if>
      <if test="cplayvolume != null">
        cplayvolume,
      </if>
      <if test="cauthor != null">
        cauthor,
      </if>
      <if test="cuploadtime != null">
        cuploadTime,
      </if>
      <if test="ctid != null">
        ctid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cdesc != null">
        #{cdesc,jdbcType=VARCHAR},
      </if>
      <if test="cplayvolume != null">
        #{cplayvolume,jdbcType=INTEGER},
      </if>
      <if test="cauthor != null">
        #{cauthor,jdbcType=VARCHAR},
      </if>
      <if test="cuploadtime != null">
        #{cuploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctid != null">
        #{ctid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mooc.entity.CourseExample" resultType="java.lang.Integer">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null">
        cname = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.cdesc != null">
        cdesc = #{record.cdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.cplayvolume != null">
        cplayvolume = #{record.cplayvolume,jdbcType=INTEGER},
      </if>
      <if test="record.cauthor != null">
        cauthor = #{record.cauthor,jdbcType=VARCHAR},
      </if>
      <if test="record.cuploadtime != null">
        cuploadTime = #{record.cuploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ctid != null">
        ctid = #{record.ctid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set cid = #{record.cid,jdbcType=INTEGER},
      cname = #{record.cname,jdbcType=VARCHAR},
      cdesc = #{record.cdesc,jdbcType=VARCHAR},
      cplayvolume = #{record.cplayvolume,jdbcType=INTEGER},
      cauthor = #{record.cauthor,jdbcType=VARCHAR},
      cuploadTime = #{record.cuploadtime,jdbcType=TIMESTAMP},
      ctid = #{record.ctid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mooc.entity.Course">
    update course
    <set>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="cdesc != null">
        cdesc = #{cdesc,jdbcType=VARCHAR},
      </if>
      <if test="cplayvolume != null">
        cplayvolume = #{cplayvolume,jdbcType=INTEGER},
      </if>
      <if test="cauthor != null">
        cauthor = #{cauthor,jdbcType=VARCHAR},
      </if>
      <if test="cuploadtime != null">
        cuploadTime = #{cuploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctid != null">
        ctid = #{ctid,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mooc.entity.Course">
    update course
    set cname = #{cname,jdbcType=VARCHAR},
      cdesc = #{cdesc,jdbcType=VARCHAR},
      cplayvolume = #{cplayvolume,jdbcType=INTEGER},
      cauthor = #{cauthor,jdbcType=VARCHAR},
      cuploadTime = #{cuploadtime,jdbcType=TIMESTAMP},
      ctid = #{ctid,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>

 

</mapper>